h1{
    text-align: center;
    color: cornflowerblue;
    background-color: black;
    line-height: 80px;
    font-size: 40px;
    text-shadow: 4px 6px 4px whitesmoke;
}
h1:hover{
    background-color: lavender;
}

p{
    font-weight: bolder;
    font-style: italic;
}

h2{
    text-decoration: underline;
}

img{
    width: 350px;
    height: 290px;
}
img:hover{
    opacity: 0.7;
}